.chart{
    width: 258px;
    height: 263px;
    border-radius: 5px;
}

.average_sessions{
    background-color: #FF0000;
}

.performance{
    background-color: #282D30;
}

.score{
    background-color: #FBFBFB;
}