.cards{
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
}

@media (min-width:1024px) and (max-width:1240px){
    .cards{
        width: 35%;
        height: 620px;
        align-items: center;
    }
}